########################################
# SISTEMA / OS
########################################
.DS_Store
Thumbs.db

########################################
# IDEs
########################################
.idea/
.vscode/
*.iml
*.iws
*.ipr

########################################
# LOGS
########################################
*.log
npm-debug.log*
yarn-error.log*

########################################
# VARIÁVEIS DE AMBIENTE
########################################
.env
.env.*

########################################
# NODE / ANGULAR (FRONTEND)
########################################
node_modules/
dist/
out-tsc/
.angular/
coverage/
.tmp/
tmp/

########################################
# SPRING BOOT / JAVA (BACKEND)
########################################
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

########################################
# MAVEN / GRADLE
########################################
.mvn/
.gradle/
build/

########################################
# TESTES / TEMPORÁRIOS
########################################
*.tmp
*.swp
*.swo

########################################
# CACHE / OUTROS
########################################
.sass-cache/